In [34]:
import pandas as pd

In [35]:
df = pd.read_csv("ocorrencia_2010_2020.csv", encoding='utf-8' , sep=';', parse_dates=['ocorrencia_dia'], dayfirst=True)
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [36]:
df.loc[1,'ocorrencia_cidade']

'BELÉM'

In [37]:
df.loc[3]

codigo_ocorrencia                         39527
codigo_ocorrencia2                        39527
ocorrencia_classificacao               ACIDENTE
ocorrencia_cidade            LUCAS DO RIO VERDE
ocorrencia_uf                                MT
ocorrencia_aerodromo                       ****
ocorrencia_dia              2010-01-04 00:00:00
ocorrencia_hora                        17:30:00
total_recomendacoes                           0
Name: 3, dtype: object

In [38]:
df.loc[1:3]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0

In [39]:
df.loc[[10,40]]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,39789,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,****,2010-01-10,21:30:00,0
40,39158,39158,INCIDENTE,BELÉM,PA,****,2010-01-28,16:00:00,0

In [40]:
df.loc[:,'ocorrencia_cidade']

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
5747              CAMPINAS
5748     LAGOA DA CONFUSÃO
5749        RIO DE JANEIRO
5750             VICENTINA
5751        RIO DE JANEIRO
Name: ocorrencia_cidade, Length: 5752, dtype: object

In [11]:
df.codigo_ocorrencia.is_unique

True

In [15]:
df.set_index('codigo_ocorrencia', inplace=True)

In [16]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [17]:
df.loc[40324]

codigo_ocorrencia2                        40324
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                       PELOTAS
ocorrencia_uf                                RS
ocorrencia_aerodromo                       SBPK
ocorrencia_dia              2010-01-05 00:00:00
ocorrencia_hora                        19:25:00
total_recomendacoes                           0
Name: 40324, dtype: object

In [18]:
df.reset_index(drop=True, inplace=True)

In [19]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [20]:
df.loc[0, 'ocorrencia_aerodromo'] = ''

In [22]:
df.head(1)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03,12:00:00,0

In [23]:
df.loc[1] = 20

In [24]:
df.head(2)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,0
1,20,20,20,20,20,20,20,20

In [25]:
df.loc[:, 'total_recomendacoes'] = 10

In [26]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10
1,20,20,20,20,20,20,20,10
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,10
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10

In [28]:
df['ocorrencia_uf_bkp'] = df.ocorrencia_uf

In [29]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10,RJ
1,20,20,20,20,20,20,20,10,20
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,RJ
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,10,MT
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,RS

In [30]:
df.loc[df.ocorrencia_uf == 'SP', ['ocorrencia_classificacao']] = 'Foi Feio Mano'

In [32]:
df.head(20)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10,RJ
1,20,20,20,20,20,20,20,10,20
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10,RJ
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,10,MT
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10,RS
5,39807,INCIDENTE,SALVADOR,BA,****,2010-01-06 00:00:00,17:53:00,10,BA
6,40215,INCIDENTE,COARI,AM,SBUY,2010-01-07 00:00:00,18:40:00,10,AM
7,39707,INCIDENTE GRAVE,CANUTAMA,AM,****,2010-01-09 00:00:00,12:30:00,10,AM
8,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10 00:00:00,23:15:00,10,PR
9,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,****,2010-01-10 00:00:00,20:00:00,10,MG
10,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,****,2010-01-10 00:00:00,21:30:00,10,RS
11,40069,Foi Feio Mano,SÃO PAULO,SP,SBMT,2010-01-10 00:00:00,14:50:00,10,SP
12,40414,INCIDENTE,BRASÍLIA,DF,SBBR,2010-01-10 00:00:00,03:00:00,10,DF
13,39507,ACIDENTE,PRIMAVERA DO LESTE,MT,****,2010-01-11 00:00:00,17:00:00,10,MT
14,40107,ACIDENTE,GURUPÁ,PA,SNGU,2010-01-12 00:00:00,14:30:00,10,PA
15,39315,ACIDENTE,CANUTAMA,AM,****,2010-01-15 00:00:00,21:22:00,10,AM
16,39809,Foi Feio Mano,SÃO PAULO,SP,****,2010-01-15 00:00:00,15:00:00,10,SP
17,39810,INCIDENTE,SALVADOR,BA,****,2010-01-15 00:00:00,18:23:00,10,BA
18,39828,Foi Feio Mano,SANTOS,SP,****,2010-01-15 00:00:00,17:45:00,10,SP
19,44575,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2010-01-17 00:00:00,12:27:00,10,RJ

In [33]:
df.loc[df.ocorrencia_uf == 'SP']

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
11,40069,Foi Feio Mano,SÃO PAULO,SP,SBMT,2010-01-10 00:00:00,14:50:00,10,SP
16,39809,Foi Feio Mano,SÃO PAULO,SP,****,2010-01-15 00:00:00,15:00:00,10,SP
18,39828,Foi Feio Mano,SANTOS,SP,****,2010-01-15 00:00:00,17:45:00,10,SP
26,39847,Foi Feio Mano,SOROCABA,SP,****,2010-01-20 00:00:00,13:10:00,10,SP
27,39768,Foi Feio Mano,CAMPINAS,SP,****,2010-01-21 00:00:00,20:45:00,10,SP
...,...,...,...,...,...,...,...,...,...
5704,79739,Foi Feio Mano,SÃO PAULO,SP,SBSP,2020-12-03 00:00:00,14:42:00,10,SP
5705,79705,Foi Feio Mano,SOROCABA,SP,SDCO,2020-12-04 00:00:00,15:30:00,10,SP
5715,79718,Foi Feio Mano,SÃO PAULO,SP,SBMT,2020-12-11 00:00:00,13:50:00,10,SP
5742,79800,Foi Feio Mano,SÃO PAULO,SP,SBMT,2020-12-28 00:00:00,10:15:00,10,SP
5747,79804,Foi Feio Mano,CAMPINAS,SP,SBKP,2020-12-29 00:00:00,19:00:00,10,SP

In [41]:
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
...,...,...,...,...,...,...,...,...,...
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,****,2020-12-30,18:30:00,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,****,2020-12-31,09:00:00,0
5751,79844,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0